.input {
    width:100%;
    height:30px;
    background-color: transparent;
    border:none;
    border-bottom:1px solid #333;
    outline: none;
    margin:5px 0;
    font-family: "Nunito";
    font-size: 20px;
    padding: 5px 0;
    padding-left: 10px;
}

.input:focus{
    
    outline: none;
    border-bottom:1px solid #2FC27D;
}

.form{
    margin:auto;
    
}




/* default
---------------------------- */


@media (max-width: 768px) {
    .form{
        width:100%;
        
    } 
}