@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  background: #333;
  color: #fff;
  font-family: "Nunito";
 
}
a {
  color: #fff;
  text-decoration: none;
}

h1,h2{
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  border-bottom: 2px solid #333;
  padding: 20px 0;
}

.icon-font{
  font-size: 30px;
  margin-right: 10px;

}

.center {
  margin: auto;
  text-align: center;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

nav {
  margin: 10px auto 20px;
  padding: 10px 0 40px 0; 
  display: block;
  width:100%;
  /* justify-content: flex-end;
  align-items: flex-end; */
  border-bottom: 1px solid #000;
  background-color:  #2FC27D;
}

nav .logo{
  width:50%;
  float:left; 
  font-size:30px;
  line-height: 1em;
}

nav .links{
  width:40%;
  float:right; 
  text-align: right;
  padding-top: 5px;
  margin-right: 2%;
  
  
}

nav a {
  
  margin-left: 12px;
  padding: 5px;
  padding-right: 10px;
  color:#fff;
  
}

nav .links a{
  border:1px solid #fff;

}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}
.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

.btn {
  font-size: 20px;
  padding: 6px 6px;
  margin:10px 0;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  background-color: #2FC27D;
  color: antiquewhite;
}
.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #fff;
  background-color:#999;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-small{
  font-size: 12px;
  padding: 3px 6px;
  margin: 0 2px;
}

.btn-full{
  width: 100%;
  margin:10px 0;
  padding: 6px 0;
  
}


.btn-delete{
  background-color: #ff4242;
  
}

.btn-detail{
  background-color: #a442ff;
  
}

.btn-update{
  background-color: #2FC27D;
  
}

.userdetails{
  width:30%;
  margin:auto
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  padding-left: 10px;
  text-align: left;
  color: #333;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: #eafff5;
}


@media (max-width: 768px) {

  nav {
    padding: 10px 0 80px 0; 
  }

  nav .logo {
    width:100%;
    font-size:25px;
    text-align: center;
    margin-bottom: 10px;
  }



  nav .links {
   
    width:100%;
    float: left;
    text-align: center;
    padding-bottom: 10px;
  }

  nav .links a{
    margin-top: 20px;
  }

  .userdetails{
    width:100%;
  
    
}

}